<nav class="navbar navbar-expand navbar-light bg-light shadow">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="#">
        <img
          src="https://img.favpng.com/3/9/23/livechat-online-chat-computer-icons-chat-room-web-chat-png-favpng-BmsdrXKLC2zD7yyH6vWLN1hrV.jpg"
          width="30"
          height="30"
          alt=""
        />
      </a>
    </li>
    <li class="nav-item">
      <span class="navbar-brand mb-0 h1">Chat AutoBem</span>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>